.App {
  width: 500px;
  margin-left: auto; 
  margin-right: auto;
  border: 1px solid #eeeeee;
}
.App .Header{
  padding: 10px 5px;
  display: flex;
 
}
.App .node{
  opacity: 0.5;
  color: pink;
  font-size: 60px;
  text-align: center;
  border: none;

}
.App .node p {
  margin-block-start: 0;

}
.App .Header input{
  padding-left: 10px;
  width: 100%;
  border: none;
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.App .Header input:focus {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App .Footer {
  padding: 0px;
}
.App .Footer button {
  margin: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
